<div class="card p-3 m-3">
  <div class="card-header">
      Commented by: {{user.name}} 
  </div>
   <div class="card-body">
    <h5 class="card-title"><a href="/blogs/{{id}}">{{blog.title}}</a></h5>
    <p class="card-text"> {{comment_content}}</p>
 
  </div>
</div>
<div></div>