<div class="card p-3 m-3">
  <div class="card-header">
       Created by: You on {{format_date date_created}}
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="/blogs/{{id}}">{{title}}</a></h5>
    <p class="card-text"> {{blog_content}}</p>
  </div>
</div>