{{#if can_edit}}
{{>blog-card-edit}}
{{else}}
{{>blog-card}}
<div class="card" >
<div class="wrapper p-2">
  <textarea id="comment-text" cols="140" rows="2"></textarea>
  <div class="col-md-2 p-2">
  <button id='comment-btn' class="btn btn-sm btn-primary" data-id="{{id}}"> Comment </button>
  </div>
</div> 
</div>
<script src="/js/comment.js"></script>
{{/if}}

{{#each comments as |comment| }}
{{>comment-card}}
{{/each}}

