<div class="row">
  <div class="col">
    <h3>Welcome, {{name}}!</h3>
  </div>
</div>

<div class="row card mt-4">

    {{#if blogs.length}}
    <div class="post-list">
      <h4>Your Current Posts:</h4>
      {{#each blogs as |blog|}}
      <div class="row">
        <div class="col-md-10 p-1">
          {{>my-blog-card}}
        </div>
        <div class="col-md-2 p-4"><button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button></div>
      </div>
    
      {{/each}}
    </div>
    {{/if}}
</div>

<div class="card">

<div class="col-md-2 p-2">
  <button id="newPost-btn" class="btn btn-sm btn-primary" onclick="newPostForm()">New Post</button>
</div>

  <div class="row mt-4" id="newPost" style="display: none">
    <div class="col-md-12 p-4">
      <h4>Create a New Blog Post:</h4>
      <form class="form new-post-form">
        <div class="form-group">
          <label for="blog-title">Title:</label>
          <input class="form-input" type="text" id="blog-title" name="blog-title" />
        </div>

        <div class="form-group">
          <label for="blog-content">Post:</label>
          <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </div>
      </form>
    </div>

  </div>


</div>



  <script src="/js/dashboard.js"></script>