:root {
    --primary: #525875;
    --secondary: #aeb3b8;
    --tertiary: #6e8694;
    --quatrinary: #7a898f;
    --light: #e3e4e3;
    --dark: #212b29;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

header {
    padding: 40px;
    text-align: center;
    background: var(--secondary);
    color: var(--dark);
  }

  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    transition: color 0.1s;
    margin-left: 16px;
    margin-top: 8px;
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
  }
  .card{
    margin: 20px;
    flex: 0 1 300px;
    color: var(--dark);
  }
  
  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: var(--secondary);
    color: var(--light);
  }
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--secondary);
    padding: 0.625rem;

  }

  .card-body {
    font-size: 1.4rem;
   
  }

 
  .update-post-form{
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 100%;
    padding: 5px;
    color: var(--dark);
  }

  .card-text, .wrapper{
    max-width: 100%;
  }

 